.visControlsWrap{
    display: flex;
    width: 110px;
    flex-direction: column;
}

.magnifierSwitch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.pausePlayWrap{
    display: flex;
    flex-direction: row;
    width: 110px;
    justify-content: space-evenly;
    align-items: center;
}

.pivotWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    width: 110px;
    margin-bottom: -6px;
}

.pivotStatus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 110px;
}

.pivotStatusText{
    width: 55px;
    text-align: center;
}

.legendRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}



.legendWrap{
    text-align: center;
    width: 410px;
}

.overlayControlsWrap{
    width:410px;
    text-align: center;
}

.overlayElem{
    margin-left: 10px;
    margin-right: 10px;
}

.sliderWrap{
    width: 400px;
    text-align: center;
}

.filterGroupWrap{
    text-align: center;
    width: 410px;
}