.svgText{
    text-align: center;
    opacity: 0;
    transition: opacity 2s;
}

.tooltip{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(15px, 15px);
    transition: opacity 0.3s;
    z-index: 30;
}