
.rectWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 2px;
}

.rectSubtitle{
    position: absolute;
    color: #f8f8f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    user-select: none;
}

.iconWrap{
    margin-top: 7px;
}